    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->
    <!-- Sidebar Start -->
    <div class="sidebar pe-4 pb-3">
        <nav class="navbar bg-light navbar-light">
            <a href="/admin" class="navbar-brand mx-4 mb-3">
                <h3 class="text-primary"><i class="bi bi-cursor-fill me-2"></i>sTICKiT</h3>
            </a>
            <div class="d-flex align-items-center ms-4 mb-4 nav-item dropdown">
                 
                <div class="position-relative">
                    <img class="rounded-circle" src="/admin/img/user.jpg" alt="" style="width: 40px; height: 40px;">
                    <div
                        class="bg-success rounded-circle border border-2 border-white position-absolute end-0 bottom-0 p-1">
                    </div>
                </div>
                <div class="ms-3">
                  
                    <h6 class="mb-0">{{adminLogged.name}}</h6>
                    <span>Admin</span>
                   
                </div>
                   
                





                {{!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                        <img class="rounded-circle me-lg-2" src="img/user.jpg" alt=""
                            style="width: 40px; height: 40px;">
                        <span class="d-none d-lg-inline-flex">John Doe</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a href="#" class="dropdown-item">Log Out</a>
                    </div>
                </div> --}}
            </div>
            <div class="navbar-nav w-100">
                <a href="/admin/land" class="nav-item nav-link active"><i
                        class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class="fa fa-laptop me-2"></i>{{adminLogged.name}}</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="#" class="dropdown-item">My Profile</a>
                        <a href="#" class="dropdown-item">Settings</a>
                        <a href="/admin/logout" class="dropdown-item">Log Out</a>
                    </div>
                </div>
                <a href="/admin/viewUser" class="nav-item nav-link"><i class="bi bi-people-fill"></i>Manage Users</a>
                
                <a href="/admin/viewProducts" class="nav-item nav-link"><i class="bi bi-box-arrow-in-down"></i>Manage Product</a>
                <a href="/admin/viewOrder" class="nav-item nav-link"><i class="bi bi-cart-check-fill"></i>Manage Orders</a>
                <a href="/admin/coupon-manegement" class="nav-item nav-link"><i class="bi bi-award-fill"></i>Manage Offers</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i
                            class="far fa-file-alt me-2"></i>blank</a>
                    <div class="dropdown-menu bg-transparent border-0">
                        <a href="#" class="dropdown-item">blank</a>
                        <a href="#" class="dropdown-item">blank</a>
                        <a href="#" class="dropdown-item">blank</a>
                        <a href="#" class="dropdown-item">Blank Page</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
    <!-- Sidebar End -->
    