    <div class="bg-light py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0"><a href="index.html">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
        </div>
      </div>
    </div>


<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block"><i class="bi bi-cart-x"></i></span>
                <div class="mb-4 lead">The Cart is Empty.</div>
                <a href="/" class="btn btn-warning">Continue Shopping</a>
           
            </div>
        </div>
    </div>
</div>